* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
:root {
  --font-color: #3f3d56;
}
::selection {
  background-color: #3f3d56;
  color: #afadc7;
}
/* /////////////////////////////       font family       /////////////////////// */
.my-projects,
.technical-skills h2 {
  font-family: "Poppins", sans-serif;
}
.photo-section,
.cart-content,
.cafe-section,
.description p {
  font-family: "Montserrat", sans-serif;
}

/* .....................cover div................... */
.cover {
  background: linear-gradient(
      180deg,
      rgba(204, 191, 179, 0.9) 0%,
      rgba(199, 181, 161, 0.9) 100%
    ),
    url(./cover-2.jpg) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}
/* .........................cover text........................... */
.cover .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  color: var(--font-color);
  font-family: "poppins", sans-serif;
  font-weight: bolder;
}
/* ..............................................NAV a....................... */
.navbar .navbar-nav li a {
  color: #3f3d56 !important;
  font-size: 16px;
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}
.navbar .navbar-nav li a:hover {
  color: #000000 !important;
}
/* ...................................................PARALLAX TEXT.................... */
.short-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.intro-text {
  color: rgb(227, 242, 255);
  font-size: 3rem;
  font-family: "poppins", sans-serif;
}
/* ..................................PARALLAX SLIDER DIV........ */
.slider {
  background-color: #e4e4e6;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(100%);
  z-index: 1;
}
.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  display: inline-block;
  transform: translateY(100%);
}
/* ..............................PHOTO SECTION............... */
img {
  height: 100%;
  width: 100%;
}

.photo-section {
  width: 100vw;
  height: 120vh;
  background: linear-gradient(
    180deg,
    rgb(199, 181, 161) 0%,
    rgb(214, 209, 204) 100%
  );
  overflow: hidden;
}
.photo-section img {
  height: 500px;
  width: 500px;
}
.photo {
  transform: translateX(100%);
  opacity: 0;
  transition: 1s ease-in-out;
}
.photo.open {
  opacity: 1;
  transform: translateX(0%);
}
/* ................................ALL SECTION TEXT, a, hover.................... */
.photo-section h4,
.cart-section h4,
.cafe-section h4 {
  margin: 10px 0px 5px 0px;
}
.photo-section a,
.cart-section a,
.cafe-section a {
  margin-top: 20px;
  color: #000;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  transition: 0.3s ease;
  font-family: "poppins", sans-serif;
}
.photo-section a:hover,
.cart-section a:hover,
.cafe-section a:hover {
  border-radius: 20px;
}
/* ...........................................CART SECTION................ */
.cart-section {
  width: 100vw;
  height: auto;
  background: linear-gradient(
    180deg,
    rgb(214, 209, 204) 0%,
    rgb(199, 181, 161) 100%
  );
}
.cart-section img {
  height: 300px;
  width: 300px;
  box-shadow: -0.5px 1px 7px black;
}
.pictures {
  transform: translateY(20%);
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.pictures.animi {
  opacity: 1;
  transform: translateY(0%);
}
.page-no,
.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
/* ..........................................coffee-sectio........... */
.cafe-section {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgb(199, 181, 161) 0%,
    rgb(214, 209, 204) 100%
  );
}
.cafe-section img {
  width: 700px;
}

/* ....................................BRFORE PAGE  NUM.............. */
.set,
.set2,
.set3 {
  position: relative;
  font-family: "poppins", sans-serif;
}
.set::before {
  content: "01";
  position: absolute;
  top: -90%;
  left: -35%;
  font-size: 3rem;
  color: rgba(146, 146, 146, 0.4);
  z-index: 1;
}
.set2::before {
  content: "02";
  position: absolute;
  top: -90%;
  left: -35%;
  font-size: 3rem;
  color: rgba(146, 146, 146, 0.4);
  z-index: 1;
}
.set3::before {
  content: "03";
  position: absolute;
  top: -90%;
  left: -35%;
  font-size: 3rem;
  color: rgba(146, 146, 146, 0.4);
  z-index: 1;
}
/* ...........................................MY SKILLS SECTION.................. */
.technical-skills {
  position: relative;
}
.bg-effect {
  height: 100vh;
  width: 100vw;
  background: url(./img/skills.jpg) no-repeat;
  background-size: cover;
  filter: blur(6px);
}
.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  border-radius: 70px 0px 70px 0px;
  /* border: 1px solid rgb(240, 240, 240); */
  border: 3px inset #fff;
}
.description p {
  padding: 10px 10px;
}
.description button {
  display: block;
  padding: 10px;
  font-size: 18px;
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
.description button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}
/* .....................................copyright............ */
.copyright {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both;
  color: #7e7e7e;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0px -2px 35px rgb(197, 197, 197);
}
/* ........................................CONTACT................. */
/* .popup {
    width: 100vw;
    height: 100vh;
  }
  .contact {
    min-height: 90vh;
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    overflow-y: scroll;
  }
  .reach {
    margin-left: 15px;
    color: #3f3d56;
  }
  .work {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  .work h3 {
    color: #3f3d56;
    padding: 20px;
    font-family: "poppins", sans-serif;
  }
  label {
    margin-bottom: 8px;
  }
  form {
    height: 90%;
    width: 50%;
    margin: 50px 0px 30px 15px;
    background: rgb(252, 248, 248);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 2px 3px 8px rgb(104, 104, 104), -1px -2px 5px #fff;
  }
  input,
  textarea {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 1px 1px 4px rgb(134, 134, 134),
      inset -0.5px -0.5px 5px rgb(245, 245, 245);
  }
  input:focus,
  textarea:focus {
    box-shadow: 1px 1px 4px rgb(134, 134, 134),
      -0.5px -0.5px 5px rgb(245, 245, 245);
    outline: none;
  }
  input:focus::placeholder,
  textarea:focus::placeholder {
    font-size: 12px;
    position: relative;
    top: -12px;
    padding-bottom: 0px;
    transition: all 0.3s ease-out;
  }
  input::placeholder,
  textarea::placeholder {
    transition: all 0.3s ease-in;
  } */
/* .....................................contact II ........................... */
.popup {
  height: 130vh;
  width: 100vw;
}
.popup .copyright {
  box-shadow: none;
}
.contact {
  height: 95vh;
  width: 90vw;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
}
label {
  margin-bottom: 8px;
}
form {
  height: 400px;
  width: 700px;
  padding: 20px 30px;
  border-radius: 8px;
}
input,
textarea {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px rgb(134, 134, 134),
    inset -0.5px -0.5px 5px rgb(245, 245, 245);
}
input:focus,
textarea:focus {
  box-shadow: 1px 1px 4px rgb(134, 134, 134),
    -0.5px -0.5px 5px rgb(245, 245, 245);
  outline: none;
}
input:focus::placeholder,
textarea:focus::placeholder {
  font-size: 12px;
  position: relative;
  top: -12px;
  padding-bottom: 0px;
  transition: all 0.3s ease-out;
}
input::placeholder,
textarea::placeholder {
  transition: all 0.3s ease-in;
}
.right {
  height: 100%;
  width: 100%;
  background: url(./contact.svg) no-repeat center center;
  background-size: contain;
  height: 400px;
  width: 400px;
}
button {
  display: block;
  width: 100%;
  outline: none;
  padding: 6px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #3f3d56;
  color: white;
}
/* .....................................media query.............  */

@media (min-width: 500px) and (max-width: 768px) {
  .cover {
    background-position: right;
  }
  .cover .intro {
    font-size: 30px;
    height: 60vh;
  }
  .my-projects {
    font-size: 25px;
  }

  .page-no {
    padding: 2rem;
  }
  .page-no h3,
  .page-no h4 {
    font-size: 20px;
  }
  .navbar .navbar-nav li a {
    background-color: #3f3d56;
    color: #afadc7 !important;
    width: 50%;
    margin: auto;
  }
  form {
    width: 80%;
    margin: 25px auto;
  }
  .contact {
    background-position: bottom right;
  }
}

@media (min-width: 480px) and (max-width: 574px) {
  .cover {
    background-position: right;
  }
  .navbar .navbar-nav li a {
    background-color: #3f3d56;
    color: #afadc7 !important;
    width: 50%;
    margin: auto;
  }
  form {
    width: 90%;
    margin: 25px auto;
  }
  .contact {
    background-position: bottom right;
  }
}
@media (max-width: 479px) {
  .cover {
    background-position: right;
  }
  .navbar .navbar-nav li a {
    background-color: #3f3d56;
    color: #afadc7 !important;
    width: 50%;
    margin: auto;
  }

  form {
    width: 90%;
    margin: 25px auto;
  }
  .contact {
    background-position: bottom right;
  }
  .description {
    height: 60%;
    width: 70%;
  }
}
@media (max-width: 280px) {
  .cover {
    background-position: right;
  }
  .navbar .navbar-nav li a {
    background-color: #3f3d56;
    color: #afadc7 !important;
    width: 50%;
    margin: auto;
  }
  .description {
    height: 60%;
    width: 90%;
  }
  form {
    width: 90%;
    margin: 25px auto;
  }
  .contact {
    background-position: bottom right;
  }
}
@media (max-width: 1024px) {
  .description {
    height: 60%;
    width: 90%;
    font-size: 30px;
  }
}
